@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.title h1 {
    font-size: 35px;
}
.title h2 {
    font-size: 20px;
}

.status  {
    text-align: center;
}